footer {    
    background-color: $colorPrimario;
    text-align: center;
    position: relative;
    

    .linkFooter {
        color: $colorPrimario;
        font-size: 18px;
        font-family: $primaryFont;
        text-decoration: none;
        margin-right: 15px;

        .instagramLink > a {
            color: $colorPrimario;
            text-decoration: none;
            font-family: $primaryFont;
        }

    }

    .instaFooter {
        border-radius: 50%;
    }

}

.textoFooter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}
    




