footer {
    /* padding: 8px; */
    background-color: $colorPrimario;
    text-align: center;
    

    .linkFooter {
        color: $colorLetra;
        font-size: 18px;
        font-family: $primaryFont;
        text-decoration: none;
        margin-right: 15px;

        .instagramLink > a {
            color: $colorLetra;
            text-decoration: none;
            font-family: $primaryFont;
        }

    }

    .imgfooter {
        border-radius: 50%;
    }

}




