.navbar {
    background-color: $colorPrimario;
    font-family: $primaryFont;
    color: $colorLetra;

    .nav-items {

        .nav-item {
            font-size: 20px;
            -webkit-animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both;
            animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both;

            &:hover {
                font-size: 22px;
            }

            @for $animation from 1 through 5 {
                &:nth-child(#{$animation}) {
                    animation-delay: 0.2s * $animation;
                }
            }

        }

        .nav-item > a {
            color: $colorLetra;
        } 
     }

    .brand {
        font-family: $brandFont;
        font-size: 28px;
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
    } 
}

@-webkit-keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}@keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}



 
