.navbar {
    background-color: #f9e8ff;
    font-family: $primaryFont;
    color: $colorLetra;

    .nav-item > a {
        color: #6C6968;
    } 

    .brand {
        font-family: 'Homemade Apple', cursive;
        font-size: 18px;
        padding: 8px;
        margin-left: 5px;
        margin-right: 5px;
    } 
}



 
