@media screen and (max-width: 768px) {
    
    .brand {
    display: none;
    }

    .imgSobremi {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .sectionContacto {
        padding: 7px;
        margin: 5px;
    } 

    footer {
        text-align: center;
        margin: 0px;
    }

}