.sectionSobremi {
    background-color: $colorSobremi;
    padding: 60px;
    font-family: $primaryFont;
    color: $colorLetra;
    
    .tituloSobremi {
        text-align: center;
        font-family: $brandFont;
    }

    .holaSobremi{
        font-family: $secondaryFont;
    }

    .imgSobremi {
        @extend %imagenes;
    }
    
}






