.bodyHome {
    background-image: url('../images/backgroundimage.jpeg');
    background-size: 160px, contain;

    .sectionHome {
        min-height: 65vh;
        margin-top: 120px;

        .divHome {  
            padding: 15px;
            color: $colorLetra;
            font-size: 24px;
            font-family: $primaryFont;

            .peluqueria {
                font-family: $secondaryFont;
            }

            .parrafoHome {
                font-size: 18px;
            } 

        }

        .imagenHome {
            border: 2px dashed $colorSecundario;
            transform: rotate(8deg);
            transition: all 1s;
            
            &:hover {
                border: 4px dashed $colorSecundario;
                transform: rotate(-8deg);
            }

        }
    }

        
    .sectionHomedos {
        padding: 100px;
        text-align: center;

        @each $secciones, $color in $circulosInicio {
            .secciones#{$secciones} {
                background-color: $color;
                }
            } 
        
        .seccion {
            border-radius: 50%;
            height: 150px;
            width: 150px;
            /* background-color: red; */

        }

        .imagenHomedos {
            padding: 70px;

            @extend .imagenHome;
        }

    }

}







