.bodyHome {
    background-image: url('../../images/imagenFondo.jpg');
    background-size: contain;

    .sectionHome {
        min-height: 65vh;
        margin-top: 100px;

        .divHome {  
            padding: 10px;
            color: $colorLetra;
            font-size: 24px;
            font-family: $primaryFont;

            .peluqueria {
                font-family: $brandFont;
                -webkit-animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                        animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                } 

            .parrafoHome {
                font-size: 18px;
            } 

        }

        .imagenHome {
            @extend %imagenes;
            border-radius: 50%;
        }
    }

    .sectionCarousel {

      .tituloCarousel {
        font-family: $brandFont;
        color: $colorLetra;
      }

      .huellitas {
        animation: swirl-in-fwd 5s ease-out both;
        animation-iteration-count: infinite;
        }

      }

      @keyframes swirl-in-fwd {
        0% {
          transform: rotate(-540deg) scale(0);
          opacity: 0;
        }
        100% {
          transform: rotate(0) scale(1);
          opacity: 1;
        }
      }
    

    .sectionHomedos {
        padding: 100px;
        text-align: center;

        .tituloSecciones {
          font-family: $brandFont;
          color: $colorLetra;
          margin-bottom: 60px;
          font-size: 30px;
        }

        .seccion {
            @include sizes (150px, 150px);
            border: 3px dashed $colorSecundario;
            border-radius: 50%;
            color: $colorLetra;
            font-family: $primaryFont;
            transition: all .8s;

            &:hover{
              animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }

        }

        .seccionessobremi, .seccionescontacto {
            @include sizes (160px, 160px);
        }


    }

    .imagenHomedos {
        margin-top: 150px;
        padding: 0px;
        
    }

}


 @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -1em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(1s);
              transform: translateZ(1s);
      opacity: 2;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -1em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(1s);
              transform: translateZ(1s);
      opacity: 2;
    }
  }


@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-60px);
  }
}

  
  




