.bodyHome {
    /* background-image: url('../images/backgroundimage.jpeg');
    background-size: 160px, contain; */

    .sectionHome {
        min-height: 65vh;
        margin-top: 100px;

        .divHome {  
            padding: 10px;
            color: $colorLetra;
            font-size: 24px;
            font-family: $primaryFont;

            .peluqueria {
                font-family: $brandFont;
                -webkit-animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                        animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                } 

            .parrafoHome {
                font-size: 18px;
            } 

        }

        .imagenHome {
            @extend %imagenes;
            border-radius: 50%;

        }
    }

        
    .sectionHomedos {
        padding: 100px;
        text-align: center;

        @each $secciones, $color in $circulosInicio {
            .secciones#{$secciones} {
                background-color: $color;
                }
            } 
        
        .seccion {
            @include sizes (150px, 150px);
            border-radius: 50%;
            color: $colorLetra;
            font-family: $primaryFont;

        }

        .seccionessobremi, .seccionescontacto {
            @include sizes (190px, 190px);
        }


    }

    .imagenHomedos {
        margin-top: 150px;
        padding: 0px;
        
    }

}


 @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -1em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(1s);
              transform: translateZ(1s);
      opacity: 2;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -1em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(1s);
              transform: translateZ(1s);
      opacity: 2;
    }
  }
  
  




