.sectionBlog {
    background-color: $colorBackg;
    font-family: $primaryFont;
    padding: 20px;
    color: $colorLetra;

    .blog {
        text-align: center;
        padding: 30px;
        font-family: $brandFont;
    }

    .entradaBlog {
        background-image: linear-gradient($colorPrimario, $colorBackg, $colorSecundario);
        padding: 20px;
        margin-top: 15px;
        border-radius: 4px;

        .imagenBlog {
            @extend %imagenes;
        }

        .titulosBlog {
            margin: 15px;
            text-align: center;
            font-family: $brandFont;
        }
        
    }

}





