@font-face { 
    font-family: "babydoll"; 
    src: url("../../fonts/babydoll.ttf"); 
} 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

$colorBackg: #f9eafc;
$colorLetra: #6d6968;
$colorPrimario: #ffd4ff;
$colorSecundario: #bf9fd4;
$colorSobremi: #e7c6fd;
$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Homemade Apple', cursive;
$brandFont: 'babydoll';


%imagenes {
    border: 2px dashed $colorSecundario;
    transform: rotate(8deg);
    transition: all 1s; 

    &:hover {
        border: 4px dashed $colorSecundario;
        transform: rotate(-8deg);
    }
}

@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
}