$colorBackg: #FBF6FF;
$colorLetra: #4a4a4a;
$colorPrimario: #f9e8ff;
$colorSecundario: #b8c0ff;
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Montserrat Alternates', sans-serif;
$brandFont: 'Homemade Apple', cursive;
