@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@font-face {
  font-family: "babydoll";
  src: url("../fonts/babydoll.ttf");
}
.sectionBlog .entradaBlog .imagenBlog, .sectionSobremi .imgSobremi, .bodyHome .sectionHome .imagenHome {
  border: 2px dashed #bf9fd4;
  transform: rotate(8deg);
  transition: all 1s;
}
.sectionBlog .entradaBlog .imagenBlog:hover, .sectionSobremi .imgSobremi:hover, .bodyHome .sectionHome .imagenHome:hover {
  border: 4px dashed #bf9fd4;
  transform: rotate(-8deg);
}

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9eafc;
}

.navbar {
  background-color: #ffd4ff;
  font-family: "Poppins", sans-serif;
  color: #6d6968;
}
.navbar .nav-items .nav-item {
  font-size: 20px;
  -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.navbar .nav-items .nav-item:hover {
  font-size: 22px;
}
.navbar .nav-items .nav-item:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.navbar .nav-items .nav-item:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.navbar .nav-items .nav-item:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.navbar .nav-items .nav-item:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.navbar .nav-items .nav-item:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.navbar .nav-items .nav-item > a {
  color: #6d6968;
}
.navbar .brand {
  font-family: "babydoll";
  font-size: 28px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0 0;
  }
}
@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0 0;
  }
}
.bodyHome {
  background-image: url("../images/imagenFondo.jpg");
  background-size: contain;
}
.bodyHome .sectionHome {
  min-height: 65vh;
  margin-top: 100px;
}
.bodyHome .sectionHome .divHome {
  padding: 10px;
  color: #6d6968;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
.bodyHome .sectionHome .divHome .peluqueria {
  font-family: "babydoll";
  -webkit-animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.bodyHome .sectionHome .divHome .parrafoHome {
  font-size: 18px;
}
.bodyHome .sectionHome .imagenHome {
  border-radius: 50%;
}
.bodyHome .sectionCarousel .tituloCarousel {
  font-family: "babydoll";
  color: #6d6968;
}
.bodyHome .sectionCarousel .huellitas {
  -webkit-animation: swirl-in-fwd 5s ease-out both;
          animation: swirl-in-fwd 5s ease-out both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes swirl-in-fwd {
  0% {
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
.bodyHome .sectionHomedos {
  padding: 100px;
  text-align: center;
}
.bodyHome .sectionHomedos .tituloSecciones {
  font-family: "babydoll";
  color: #6d6968;
  margin-bottom: 60px;
  font-size: 30px;
}
.bodyHome .sectionHomedos .seccion {
  height: 150px;
  width: 150px;
  border: 3px dashed #bf9fd4;
  border-radius: 50%;
  color: #6d6968;
  font-family: "Poppins", sans-serif;
  transition: all 0.8s;
}
.bodyHome .sectionHomedos .seccion:hover {
  -webkit-animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.bodyHome .sectionHomedos .seccionessobremi, .bodyHome .sectionHomedos .seccionescontacto {
  height: 160px;
  width: 160px;
}
.bodyHome .imagenHomedos {
  margin-top: 150px;
  padding: 0px;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -1em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateZ(1s);
    opacity: 2;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -1em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateZ(1s);
    opacity: 2;
  }
}
@-webkit-keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-60px);
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-60px);
  }
}
footer {
  background-color: #ffd4ff;
  text-align: center;
  position: relative;
}
footer .linkFooter {
  color: #ffd4ff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin-right: 15px;
}
footer .linkFooter .instagramLink > a {
  color: #ffd4ff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
footer .instaFooter {
  border-radius: 50%;
}

.textoFooter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.servicios {
  background-color: #f9eafc;
  color: #6d6968;
  margin-bottom: 50px;
}
.servicios .mainServicios {
  text-align: center;
  padding: 20px;
  font-family: "babydoll";
  font-size: 30px;
  background-color: #f9eafc;
  color: #6d6968;
}
.servicios .servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  transition: all 0.7s;
}
.servicios .servicio:hover {
  padding: 20px;
}
.servicios .servicio .servicio__img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  transition: all 0.7s;
}
.servicios .servicio .servicio__img:hover {
  width: 85px;
  height: 85px;
}
.servicios .servicio .servicio__titulo {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 18px;
  font-family: "babydoll";
}

.sectionSobremi {
  background-color: #e7c6fd;
  padding: 60px;
  font-family: "Poppins", sans-serif;
  color: #6d6968;
}
.sectionSobremi .tituloSobremi {
  text-align: center;
  font-family: "babydoll";
}
.sectionSobremi .holaSobremi {
  font-family: "Homemade Apple", cursive;
}
.sectionBlog {
  background-color: #f9eafc;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  color: #6d6968;
}
.sectionBlog .blog {
  text-align: center;
  padding: 30px;
  font-family: "babydoll";
}
.sectionBlog .entradaBlog {
  background-image: linear-gradient(#ffd4ff, #f9eafc, #bf9fd4);
  padding: 20px;
  margin-top: 15px;
  border-radius: 4px;
}
.sectionBlog .entradaBlog .titulosBlog {
  margin: 15px;
  text-align: center;
  font-family: "babydoll";
}

.sectionContacto {
  padding: 30px;
  margin: 50px;
  color: #6d6968;
  font-family: "Poppins", sans-serif;
  border: 3px dotted #bf9fd4;
}
.sectionContacto .tituloContacto {
  font-family: "babydoll";
}
.sectionContacto .boton {
  padding: 7px;
  background-color: #bf9fd4;
}
.sectionContacto .imagenContacto {
  border-radius: 50%;
  transition: all 0.7s;
}
.sectionContacto .imagenContacto:hover {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .brand {
    display: none;
  }
  .huellitas {
    display: none;
  }
  .imgSobremi {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .sectionContacto {
    padding: 7px;
    margin: 5px;
  }
  footer {
    text-align: center;
    margin: 0px;
  }
}/*# sourceMappingURL=estilos.css.map */