@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FBF6FF;
}

.navbar {
  background-color: #f9e8ff;
  font-family: "Montserrat", sans-serif;
  color: #4a4a4a;
}
.navbar .nav-item > a {
  color: #4a4a4a;
}
.navbar .brand {
  font-family: "Homemade Apple", cursive;
  font-size: 18px;
  padding: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.bodyHome {
  background-image: url("../images/backgroundimage.jpeg");
  background-size: 160px, contain;
}
.bodyHome .sectionHome {
  min-height: 65vh;
  margin-top: 120px;
}
.bodyHome .sectionHome .divHome {
  padding: 15px;
  color: #4a4a4a;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
.bodyHome .sectionHome .divHome .peluqueria {
  font-family: "Montserrat Alternates", sans-serif;
}
.bodyHome .sectionHome .divHome .parrafoHome {
  font-size: 18px;
}
.bodyHome .sectionHome .imagenHome {
  border: 2px dashed #b8c0ff;
  transform: rotate(8deg);
  transition: all 1s;
}
.bodyHome .sectionHome .imagenHome:hover {
  border: 4px dashed #b8c0ff;
  transform: rotate(-8deg);
}
.bodyHome .tituloCarousel {
  font-family: "Montserrat Alternates", sans-serif;
  color: #4a4a4a;
  text-align: center;
}

footer {
  padding: 8px;
  background-color: #b8c0ff;
  text-align: right;
}
footer .linkFooter {
  color: #4a4a4a;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-right: 15px;
}
footer .linkFooter .instagramLink > a {
  color: #4a4a4a;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.servicios {
  background-color: #FBF6FF;
  font-family: "Montserrat", sans-serif;
  color: #4a4a4a;
  margin-bottom: 50px;
}
.servicios .mainServicios {
  text-align: center;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  background-color: #FBF6FF;
  color: #4a4a4a;
}
.servicios .servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicios .servicio .servicio__img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}
.servicios .servicio .servicio__titulo {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 18px;
}

.sectionSobremi {
  background-color: #D6DAFF;
  padding: 60px;
  font-family: "Montserrat", sans-serif;
  color: #4a4a4a;
}
.sectionSobremi .tituloSobremi {
  text-align: center;
}
.sectionSobremi .holaSobremi {
  font-family: "Homemade Apple", cursive;
}
.sectionSobremi .imgSobremi {
  border: 2px dashed #b8c0ff;
  transform: rotate(7deg);
  transition: all 1s;
}
.sectionSobremi .imgSobremi:hover {
  border: 4px dashed #b8c0ff;
  transform: rotate(-7deg);
}

.sectionBlog {
  background-color: #FBF6FF;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  color: #4a4a4a;
}
.sectionBlog .blog {
  text-align: center;
  padding: 30px;
}
.sectionBlog .entradaBlog {
  background-image: linear-gradient(#e7c6ff, #e7c6ff, #b8c0ff);
  padding: 20px;
  margin-top: 15px;
}
.sectionBlog .entradaBlog .titulosBlog {
  margin: 15px;
  text-align: center;
  font-family: "Homemade Apple", cursive;
}

.sectionContacto {
  padding: 30px;
  margin: 50px;
  color: #4a4a4a;
  font-family: "Montserrat", sans-serif;
  border: 3px dotted #b8c0ff;
}
.sectionContacto .boton {
  padding: 7px;
  background-color: #b8c0ff;
}

@media screen and (max-width: 768px) {
  .brand {
    display: none;
  }

  .imgSobremi {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .sectionContacto {
    padding: 7px;
    margin: 5px;
  }

  footer {
    text-align: center;
    margin: 0px;
  }
}/*# sourceMappingURL=estilos.css.map */